# For Maven #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
# ------------------ #
# For Java #
*.class
.project
.classpath
bin/
.settings
*.jar
*.war
*.ear
# ------------------ #
